/* poppins-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/poppins-v22-latin-300.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/poppins-v22-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* poppins-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/poppins-v22-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* poppins-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/poppins-v22-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
  /* poppins-800 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('../fonts/poppins-v22-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --hover: rgba(112,127,221,0.1);
    --color-accent: #5A6ACF;
    --color-accent-2: #8593ED;
    --color-accent-3: #C7CEFF;
    --left-panel: #F1F2F7;
    --color-info: #808080;
  }

*, *::after, *::before{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
    background: #fff;
    overflow-x: hidden;
}

header {
    width: 100%;
}

h1 {
    font-weight: 600;
    font-size: 20px;
}

h2 {
    font-weight: 400;
    font-size: 16px;
}

.border__right {
    border-right: 1px solid #C8CBD9;
}

.border__bottom {
    border-bottom: 1px solid #C8CBD9;
}

.container{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 5% 1fr;
    gap: 3rem;
    width: 96%;

}

.left {
    height: 100vh;
    background: var(--left-panel);
    grid-row: span 2 / span 2;
}

.active {
    padding-left: 20%;
    margin-right: 10%;
    border-radius: 10px;
    
    background-color: var(--hover);
    color: var(--color-accent) !important;
}

main {
    grid-column-start: 2;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 8px;
}

.menu__link {
    display: flex;
    align-items: center;
    color: var(--color-info);
    margin-left: 2rem;
    gap: 1rem;
    position: relative;
    height: 3.7rem;
    transition: all 0.5s ease;
}

.menu__link:hover {
    color: var(--color-accent);
}

.menu__link img {
    font-size: 1.6rem;
}

/* .menu__link h3 {
    font-weight: 400;
} */

.menu__span {
    display: flex;
    align-items: center;
    color: var(--color-info);
    margin-left: 2rem;
    gap: 1rem;
    position: relative;
    height: 3.7rem;
    transition: all 0.5s ease;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}

.close {
    display: none
}

.logo {
    margin-left: 2rem;
    display: flex;
    gap: 0.8rem;
}

.logo h2 {
    color: var(--color-accent);
    font-size: 20px !important;
    font-weight: 600;
}

/* Менюшка слева сверху */
.account {
    margin-top: 1%;
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 1%;
}

.account img:last-child {
    margin-left: 1%;
}

#burger {
    width: 30px;
    height:30px;
    padding: 3px;
    background-color: #FFE6CC;
    border-radius: 50%;

}

#chevron__down {
    width: 20px;
    height: 20px;
}

#bell {
    width: 20px;
    height: 20px;
}
/* ГРАФ 1 */
.graph__container {
    padding: 5px;
    grid-column: span 2 / span 2;
}

.graph__top {
    display: flex;
    justify-content:space-between;
    flex-direction: row;
}

.graph__top__text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 10px;
}

.view-report {
    text-decoration: none;
    color: var(--color-accent);
    padding: 5px 10px;
    /* border: 1px solid #3498db; */
    background-color: rgba(0, 94, 255, 0.1);
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.5s linear;
}

.view-report:hover {
    background-color: var(--color-accent);
    color: #fff;
}

.graph__percentage span {
    color: #1c9d54;
}

.graph__info {
    font-weight: 400;
    font-size: 13px;
    opacity: 0.5;
}

.pipe {
    background: #ebeaea none repeat scroll 0 0;
    box-shadow: 3px 3px 3px 0 rgb(200, 200, 200) inset;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    margin-bottom: 1.2rem;
}

.chart p {
    margin: 0 0 5px;
}

.chart .pipe > div  {
    background: var(--color-accent);
    border-radius: 5px;
    height: 10px;
}

.sector1 {
    width: 20%;
}

.sector2 {
    width: 30%;
}

.sector3 {
    width: 40%;
}

.sector4 {
    width: 10%;
}

.last__days {
    gap: 3%;
    display: flex;
    align-items: center;
}

.circle {
    display: block;
    width: 10px;
    height: 10px;
    background: #D8D9DB;
    border-radius: 50%;
}

.accent-3 {
    background-color: var(--color-accent) !important;
}

.accent-2 {
    background-color: var(--color-accent-2) !important;
}

.accent {
    background-color: var(--color-accent-3) !important;
}

/* ГРАФ 2 */
.chart-info {
    margin-left: 20px;
}

.chart-container {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 100%;
    height: 70%;
    /* margin-top: 20%; */

}

.info-box {
    content: '';
    top: 20%;
    /* left: 50%; */
    width: 40%;
    background: #37375C;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: absolute;
}

.info-title {
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
}

.time {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
    opacity: 0.5;
}

.orders {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.3px;
    color: #FFFFFF;
}

.orders {
    font-weight: 600;
}

.marks__container {
    margin-top: 3%;
    display: flex;
    justify-content: center;
    gap: 20%;
}

.marks {
    display: flex;
    gap: 5px;
}

.marks__text p:nth-child(1) {
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.5px;
    opacity: 0.7;

}

.marks__text p:nth-child(2) {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.5px;
    opacity: 0.7;
}

.graph__block {
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.graph__block tr {
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

tbody {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 2rem;
}

table img {
    border-radius: 50%;
}

table tr td:nth-child(2) {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: #273240;
}

table tr td:nth-child(3) {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.5px;
    color: #273240;
    opacity: 0.7;

}
